@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    text-decoration: none;
    font-family: 'quicksand';
    margin: 0;
    outline: none;
}

.container{
    background-color: #000001;
    padding-top: 10px;
}

.checkout{
    display: inline-block;
    width: 100%;
}

.checkout img{
    width: 200px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 0%;
}

.checkout h2{
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: 100;
    color: goldenrod;
    text-transform: uppercase;
}

.checkout h3{
    padding-left: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-weight: 100;
}

.checkout h3:hover{
    transition: 0.6s;
    color: goldenrod;
}

.checkout-inner{
    width: 70%;
    float: left;
    border-right: 1px solid #c5c5c5;
    padding-right: 10px;
}

.checkout-form-steps{
    width: 95%;
    padding: 15px;
    display: inline-block;
}

.checkout-form-steps h4{
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid;
    color: goldenrod;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.checkout-form-steps .textfield{
    width: 100%;
    height: 45px;
    border-radius: 70px;
    border: 2px solid #d0d0d0;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15px;
}

.checkout-form-steps .textfield:hover, .textfield:focus, .checkout-form-steps label:hover{
    transition: 0.6s;
    border-color: goldenrod;
}

.checkout-form-steps label{
    width: 100%;
    float: left;
    border: 2px solid #d0d0d0;
    border-radius: 70px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15px;
}

.submitorder-button{
    width: 300px;
    height: 50px;
    margin: 15px;
    border-radius: 70px;
    float: right;
    font-size: 22px;
    color: #ffffff;
    border: none;
    font-weight: 100;
    background-color: goldenrod;
}

.submitorder-button:hover, .orderlist .applycode-button:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.orderlist img{
    border: 1px solid #000000;
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    box-shadow:  0px 0px 43px -8px rgba(0,0,0,0.75);
}

.orderlist{
    display: block;
    margin: auto;
    width: 28%;
    float: right;
}

.orderlist h3{
    font-size: 18px;
    padding: 15px 0;
    line-height: 22px;
}

.orderlist p{
    padding: 15px 10px;
    font-size: 18px;
    border-bottom: 1px solid #00000020;
}

.orderlist p span{
    float: right;
}
    
.orderlist .textfield{
    display: block;
    margin: 20px;
    width: 80%;
    height: 15px;
    padding: 15px;
    border-radius: 70px;
    border: 1px solid #00000040;
    font-size: 16px;
    outline: none;
}

.orderlist .textfield:hover, .orderlist .textfield:focus{
    border-color: goldenrod;
    transition: 0.3s;
}

.orderlist .applycode-button{
    display: block;
    width: 90%;
    height: 45px;
    padding: 15px;
    border-radius: 50px;
    margin: auto;
    border: none;
    font-size: 16px;
    background-color: goldenrod;
    outline: none;
    color: #ffffff;
}

#learnmore{
    color: #ffffff;
}

#learnmore:hover {
    transition: 0.5s;
    color: goldenrod;
}
